.frame-1,
.frame-1 * {
  box-sizing: border-box;
}
.frame-1 {
  background: #ffffff;
  height: 1024px;
  position: relative;
  overflow: hidden;
}
.encontre-novos-restaurantes {
  color: #000000;
  text-align: center;
  font-family: var(--titulo-1-font-family, "Inter-Regular", sans-serif);
  font-size: var(--titulo-1-font-size, 50px);
  font-weight: var(--titulo-1-font-weight, 400);
  position: absolute;
  left: 50%;
  translate: -50%;
  bottom: 821px;
  width: 756px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.frame-4 {
  background: var(--azul-claro, #cbf3f0);
  border-radius: var(--raio-search-bar, 30px);
  width: 956px;
  height: 77px;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 234px;
  overflow: hidden;
}
.busque-por-restaurante-ou-categoria {
  color: #000000;
  text-align: left;
  font-family: var(--fonte-pequena-font-family, "Inter-Regular", sans-serif);
  font-size: var(--fonte-pequena-font-size, 22px);
  font-weight: var(--fonte-pequena-font-weight, 400);
  position: absolute;
  left: 85px;
  top: 50%;
  translate: 0 -50%;
  width: 587px;
  height: 39px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.frame-5 {
  background: var(--azul, #2ec4b6);
  border-radius: var(--raio-botoes, 15px);
  width: 93px;
  height: var(--altura-botoes, 50px);
  position: absolute;
  left: 837px;
  top: 50%;
  translate: 0 -50%;
}
.buscar {
  color: #000000;
  text-align: center;
  font-family: var(--fonte-pequena-font-family, "Inter-Regular", sans-serif);
  font-size: var(--fonte-pequena-font-size, 22px);
  font-weight: var(--fonte-pequena-font-weight, 400);
  position: absolute;
  left: 50%;
  translate: -50% -50%;
  top: 50%;
  width: 99px;
  height: 27px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.image-1 {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 23px;
  top: 50%;
  translate: 0 -50%;
  object-fit: cover;
}
.lista-restaurantes {
  width: 1332px;
  height: 372px;
  position: absolute;
  left: 54px;
  top: 338px;
  overflow: hidden;
}
.hamburguers {
  color: #000000;
  text-align: left;
  font-family: var(--titulo-2-font-family, "Inter-Regular", sans-serif);
  font-size: var(--titulo-2-font-size, 35px);
  font-weight: var(--titulo-2-font-weight, 400);
  position: absolute;
  left: 0px;
  top: 25px;
  width: 546px;
}
.frame-7 {
  width: 250px;
  height: 269px;
  position: absolute;
  left: 0px;
  top: 103px;
  overflow: hidden;
}
.image-2 {
  border-radius: var(--raio-botoes, 15px);
  width: 254px;
  height: 202px;
  position: absolute;
  left: 0px;
  top: 0px;
  object-fit: cover;
}
.pedro-s-burguer {
  color: #000000;
  text-align: center;
  font-family: var(--titulo-pequeno-font-family, "Inter-Regular", sans-serif);
  font-size: var(--titulo-pequeno-font-size, 22px);
  font-weight: var(--titulo-pequeno-font-weight, 400);
  position: absolute;
  left: 8px;
  top: 209px;
  width: 242px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.frame-72 {
  width: 250px;
  height: 269px;
  position: absolute;
  left: 273px;
  top: 103px;
  overflow: hidden;
}
.image {
  border-radius: var(--raio-botoes, 15px);
  width: 254px;
  height: 202px;
  position: absolute;
  left: 0px;
  top: 0px;
  object-fit: cover;
}
.frame-73 {
  width: 250px;
  height: 269px;
  position: absolute;
  left: 523px;
  top: 103px;
  overflow: hidden;
}
.frame-74 {
  width: 250px;
  height: 269px;
  position: absolute;
  left: 785px;
  top: 103px;
  overflow: hidden;
}
.restaurante {
  width: 196px;
  height: 269px;
  position: absolute;
  left: 1064px;
  top: 103px;
  overflow: hidden;
}
.image-3 {
  width: 40px;
  height: 45px;
  position: absolute;
  left: 1279px;
  top: 179px;
  object-fit: cover;
}
.lista-restaurantes2 {
  width: 1332px;
  height: 372px;
  position: absolute;
  left: 62px;
  top: 703px;
  overflow: hidden;
}
.header {
  background: #ffffff;
  border-style: solid;
  border-color: var(--divisor, #bfb4b4);
  border-width: 0px 0px 1px 0px;
  width: 1440px;
  height: 70px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: hidden;
}
.frame-2 {
  background: var(--laranja-escuro, #ff9f1c);
  border-radius: var(--raio-botoes, 15px);
  width: var(--largura-botoes, 150px);
  height: var(--altura-botoes, 50px);
  position: absolute;
  right: 32px;
  top: 50%;
  translate: 0 -50%;
  overflow: hidden;
}
.login {
  color: #000000;
  text-align: center;
  font-family: var(--fonte-pequena-font-family, "Inter-Regular", sans-serif);
  font-size: var(--fonte-pequena-font-size, 22px);
  font-weight: var(--fonte-pequena-font-weight, 400);
  position: absolute;
  left: 50%;
  translate: -50% -50%;
  top: 50%;
  width: 116px;
}
.frame-3 {
  background: var(--laranja-escuro, #ff9f1c);
  border-radius: var(--raio-botoes, 15px);
  width: var(--largura-botoes, 150px);
  height: var(--altura-botoes, 50px);
  position: absolute;
  right: 32px;
  top: calc(50% - 132px);
  overflow: hidden;
}
.menu-master {
  color: var(--laranja-escuro, #ff9f1c);
  text-align: center;
  font-family: var(--titulo-2-font-family, "Inter-Regular", sans-serif);
  font-size: var(--titulo-2-font-size, 35px);
  font-weight: var(--titulo-2-font-weight, 400);
  position: absolute;
  left: 31px;
  top: calc(50% - 22px);
  display: flex;
  align-items: center;
  justify-content: center;
}
